In [75]:
import pandas as pd
import json

In [3]:
def flatten_json_dict(js_dict):
    return ":".join(json.loads(js_dict).values())

In [82]:
plot_summaries = pd.read_table('dataset/plot_summaries.txt', header=None, names=["wiki_id", "summary"], index_col=0)

#names_clusters maps character_metadata entries to character names. (probably useless)
names_clusters = pd.read_table('dataset/name.clusters.txt', header=None, names=["character", "fb_id"])
names_clusters = names_clusters.drop_duplicates()
names_clusters.index = names_clusters.fb_id
names_clusters = names_clusters[["character"]]

tv_tropes_clusters = pd.read_table('dataset/tvtropes.clusters.txt', header=None)
tv_tropes_clusters = pd.concat(objs=[tv_tropes_clusters[[0]], pd.json_normalize(tv_tropes_clusters[1].apply(json.loads))], axis=1)
tv_tropes_clusters.columns = ["trope", "character", "movie", "fb_char_id", "actor"]

movies_metadata = pd.read_table('dataset/movie.metadata.tsv', header=None, names=["wiki_id", "fb_id", "name", "release_date", "revenue", "runtime", "language", "country", "genre"])
movies_metadata.language = movies_metadata.language.apply(flatten_json_dict)
movies_metadata.country = movies_metadata.country.apply(flatten_json_dict)
movies_metadata.genre = movies_metadata.genre.apply(flatten_json_dict)

# I don't know what the column "something" means
character_metadata = pd.read_table('dataset/character.metadata.tsv', header=None, names=["wiki_movie_id", "fb_movie_id", "movie_date", "character", "date_of_birth", "gender", "height", "ethnicity", "actor", "actor_age", "fb_id", "something", "something_else"], index_col="fb_id")

In [5]:
plot_summaries

                                                    summary
wiki_id
23890098  Shlykov, a hard-working taxi driver and Lyosha...
31186339  The nation of Panem consists of a wealthy Capi...
20663735  Poovalli Induchoodan  is sentenced for six yea...
2231378   The Lemon Drop Kid , a New York City swindler,...
595909    Seventh-day Adventist Church pastor Michael Ch...
...                                                     ...
34808485  The story is about Reema , a young Muslim scho...
1096473   In 1928 Hollywood, director Leo Andreyev  look...
35102018  American Luthier focuses on Randy Parsons’ tra...
8628195   Abdur Rehman Khan , a middle-aged dry fruit se...
6040782   1940 - Operation Dynamo has just taken place. ...

[42303 rows x 1 columns]

In [175]:
names_clusters

                  character
fb_id
/m/0k3w9c     Stuart Little
/m/0k3wcx     Stuart Little
/m/0k3wbn     Stuart Little
/m/0jyg35          John Doe
/m/0k2_zn          John Doe
...                     ...
/m/0k5_ql        John Rolfe
/m/02vd6vs       John Rolfe
/m/0k1xvz   Elizabeth Swann
/m/0k1x_d   Elizabeth Swann
/m/0k1xxy   Elizabeth Swann

[2661 rows x 1 columns]

In [12]:
tv_tropes_clusters

,trope,character,movie,fb_char_id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...,...
496,young_gun,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,young_gun,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,young_gun,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,young_gun,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,young_gun,Jake,Silverado,/m/0k39jj,Kevin Costner

In [36]:
tv_tropes_clusters[0].unique()

array(['absent_minded_professor', 'adventurer_archaeologist',
       'arrogant_kungfu_guy', 'big_man_on_campus', 'bounty_hunter',
       'brainless_beauty', 'broken_bird', 'bromantic_foil',
       'bruiser_with_a_soft_center', 'bully', 'byronic_hero', 'casanova',
       'chanteuse', 'charmer', 'child_prodigy', 'classy_cat_burglar',
       'consummate_professional', 'corrupt_corporate_executive', 'coward',
       'crazy_jealous_guy', 'crazy_survivalist', 'cultured_badass',
       'dean_bitterman', 'dirty_cop', 'ditz', 'doormat',
       'drill_sargeant_nasty', 'dumb_blonde', 'dumb_muscle',
       'eccentric_mentor', 'egomaniac_hunter', 'evil_prince',
       'fastest_gun_in_the_west', 'father_to_his_men', 'final_girl',
       'gadgeteer_genius', 'gentleman_thief', 'granola_person',
       'grumpy_old_man', 'hardboiled_detective', 'heartbroken_badass',
       'henpecked_husband', 'hitman_with_a_heart', 'jerk_jock',
       'junkie_prophet', 'klutz', 'loser_protagonist', 'loveable_rogue',
       'master_swordsman', 'morally_bankrupt_banker',
       'officer_and_a_gentleman', 'ophelia', 'playful_hacker',
       'prima_donna', 'psycho_for_hire', 'pupil_turned_to_evil',
       'retired_outlaw', 'revenge', 'romantic_runnerup', 'self_made_man',
       'slacker', 'stoner', 'storyteller', 'stupid_crooks', 'surfer_dude',
       'the_chief', 'the_editor', 'tranquil_fury', 'trickster',
       'valley_girl', 'warrior_poet', 'young_gun'], dtype=object)

In [211]:
movies_metadata

,wiki_id,fb_id,name,release_date,revenue,runtime,language,country,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,Thriller:Science Fiction:Horror:Adventure:Supe...
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English Language,United States of America,Mystery:Biographical film:Drama:Crime Drama
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,Norwegian Language,Norway,Crime Fiction:Drama
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,Thriller:Erotic thriller:Psychological thriller
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,English Language,United States of America,Drama
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,English Language,Ireland:United Kingdom,Biographical film:Drama:Documentary
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,English Language,United States of America,Satire:Comedy
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,Japanese Language,Japan,Science Fiction:Japanese Movies:Adventure:Anim...
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,Thriller:Horror:Slasher:Teen

In [85]:
character_metadata

,wiki_movie_id,fb_movie_id,movie_date,character,date_of_birth,gender,height,ethnicity,actor,actor_age,something,something_else
fb_id,,,,,,,,,,,,
/m/0bgchxw,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgcj3x,/m/03wcfv7
/m/0jys3m,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0bgchn4,/m/0346l4
/m/0jys3g,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0bgchn_,/m/01vw26l
/m/02vchl6,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/0bgchnq,/m/034hyc
/m/02vbb3r,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...
/m/0kr406c,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406h,/m/0b_vcv
/m/0kr405_,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr4090,/m/0bx7_j
/m/0g8ngmc,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,NaN,/m/022g44
/m/0g8ngmj,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,NaN,/m/0g8ngmm
/m/0g8ngmw,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,NaN,/m/0btz19d

In [71]:
movies_metadata.revenue.describe().apply(int)

count          8401
mean       47993625
std       112175292
min           10000
25%         2083193
50%        10639686
75%        40716963
max      2782275172
Name: revenue, dtype: int64

In [74]:
movies_metadata.release_date.describe(datetime_is_numeric=False)

count     74839
unique    20389
top        2006
freq       1011
Name: release_date, dtype: object

In [84]:
character_metadata.ethnicity.unique()

array([nan, '/m/044038p', '/m/0x67', '/m/064b9n', '/m/041rx', '/m/033tf_',
       '/m/04gfy7', '/m/0222qb', '/m/01qhm_', '/m/0dryh9k', '/m/048sp5',
       '/m/04mvp8', '/m/0bzkm2', '/m/02p1pl6', '/m/0bjbszh', '/m/022fdt',
       '/m/0cqgdq', '/m/0ffkb4', '/m/075dhf0', '/m/01hwt', '/m/0xnvg',
       '/m/0dqqwy', '/m/048z7l', '/m/07bch9', '/m/09v5bdn', '/m/02w7gg',
       '/m/03bkbh', '/m/02vsw1', '/m/09kr66', '/m/09vc4s', '/m/0g0x7_',
       '/m/042gtr', '/m/0cm7w1', '/m/046cwm', '/m/04dbw3', '/m/02ctzb',
       '/m/0g8_vp', '/m/092h2qt', '/m/0g6ff', '/m/0278pqj', '/m/0301y_',
       '/m/019kn7', '/m/0cnvdq1', '/m/03295l', '/m/065b6q', '/m/03pqwy',
       '/m/01xhh5', '/m/03ts0c', '/m/06gbnc', '/m/07hwkr', '/m/0bpjh3',
       '/m/0fpjs3j', '/m/04nrnz', '/m/09k5jvk', '/m/07mqps', '/m/08hpk0',
       '/m/03ttfc', '/m/0d9q7j', '/m/075_n6', '/m/0dllcfn', '/m/04kbvpz',
       '/m/03ftx7', '/m/0747611', '/m/025rpb0', '/m/06mvq', '/m/047l_90',
       '/m/029f2r', '/m/01rv7x', '/m/05sf2x', '/m/01336l', '/m/0bh91q8',
       '/m/01g7zj', '/m/0cn68', '/m/02sch9', '/m/0fqp6zk', '/m/02y_9mh',
       '/m/0d7wh', '/m/0g96wd', '/m/047948f', '/m/04ggbzy', '/m/04q7gbh',
       '/m/013xrm', '/m/0gkxl2', '/m/0dbxy', '/m/0cmdl5l', '/m/0268d21',
       '/m/0912ll', '/m/022dp5', '/m/019lrz', '/m/03bx0k4', '/m/02p_gby',
       '/m/012c1l', '/m/04y29', '/m/09743', '/m/03w9bjf', '/m/09m6hr',
       '/m/0583cz', '/m/02g7sp', '/m/063k3h', '/m/071x0k', '/m/0bhsnb',
       '/m/0bkbz', '/m/0f0gt_', '/m/0283js_', '/m/01kg2v', '/m/0828vj',
       '/m/08v2k7', '/m/03gskx0', '/m/0h2138', '/m/0fng3k', '/m/023mqw',
       '/m/0222hg', '/m/09vmyh', '/m/06fczy', '/m/03lmx1', '/m/03vv99',
       '/m/09zyn5', '/m/0470lk', '/m/0fj1k9', '/m/03cbkrf', '/m/0bbz66j',
       '/m/0268_k', '/m/04dzwby', '/m/04y8_bm', '/m/0ffhz3', '/m/0ffj5g',
       '/m/06j2v', '/m/03cjjy0', '/m/06v41q', '/m/032j30', '/m/01n94b',
       '/m/0d2by', '/m/038723', '/m/0g5y6', '/m/09cqth', '/m/0bymc',
       '/m/0d8qh0', '/m/0c2hxm', '/m/04znbg', '/m/027n1m6', '/m/02czfr',
       '/m/0g48m4', '/m/01swvz', '/m/04tvpv', '/m/0462jl6', '/m/025_0f0',
       '/m/0j6x8', '/m/05ysft4', '/m/01ylpf', '/m/0bnzjx', '/m/04f581',
       '/m/0ch3pqf', '/m/02p4q5p', '/m/02wcbj_', '/m/02jvpv', '/m/08gzsf',
       '/m/02p444n', '/m/07j80c', '/m/0btrm4', '/m/04608z', '/m/065z7w_',
       '/m/0b0gzf', '/m/033njm', '/m/02rbdlq', '/m/01xttr', '/m/062_25',
       '/m/01nbcy', '/m/02cm28', '/m/0bns36b', '/m/0fqz6', '/m/047bp1r',
       '/m/0bs7l_v', '/m/02qv_h_', '/m/0dv5vw', '/m/026c9dq',
       '/m/0b__fv3', '/m/018s6c', '/m/03yk6g', '/m/05l3g_', '/m/0ckk60',
       '/m/0bfjm7', '/m/04jq32s', '/m/0790v', '/m/01trsl', '/m/03cdk7b',
       '/m/02q206y', '/m/05g0f1', '/m/067lwk', '/m/05748', '/m/033qxt',
       '/m/097nms', '/m/04czx7', '/m/08xbxs', '/m/0432mrk', '/m/059_w',
       '/m/01ywdy', '/m/0289z8v', '/m/013b6_', '/m/03f3sf', '/m/017sq0',
       '/m/04_hr_', '/m/071drf', '/m/0hbz9xw', '/m/01j2qv', '/m/0640_7q',
       '/m/02p656s', '/m/0dj8k3', '/m/0466nw8', '/m/07d_p8', '/m/078vc',
       '/m/09gp4', '/m/06lshc', '/m/0404kdr', '/m/016f5d', '/m/04mmhj',
       '/m/067lts', '/m/0761bp', '/m/0bbcnlt', '/m/06rd7', '/m/095mw2',
       '/m/09y7x4', '/m/08cjt2', '/m/013s3n', '/m/0g4pffv', '/m/09gk_6h',
       '/m/034s7b', '/m/0987ctr', '/m/04_bc8', '/m/0b98sy', '/m/0ffjqy',
       '/m/0fk1z', '/m/074w_m', '/m/03cl2pz', '/m/07gzw5', '/m/086wp0',
       '/m/01g0y_', '/m/04k02l', '/m/02p7gyv', '/m/03sx6v', '/m/0bfrrj',
       '/m/02pzb09', '/m/052r3t', '/m/0268pvf', '/m/013s2p', '/m/09chmw',
       '/m/0ft9bs', '/m/013b7g', '/m/02r_qms', '/m/0cx3p', '/m/026cybk',
       '/m/04ydrsn', '/m/067lrj', '/m/0c3wsgg', '/m/04zjjt', '/m/0180zw',
       '/m/0hj35', '/m/025tvhm', '/m/01p7s6', '/m/02rp50t', '/m/025x6k1',
       '/m/0150zs', '/m/0j4w_', '/m/04l_pt', '/m/0br_8h', '/m/0266mf0',
       '/m/03cnzsg', '/m/04hlx1', '/m/0288fw3', '/m/02vkw95',
       '/m/0fq6zlv', '/m/01sq7s', '/m/03r_k', '/m/0fk3s', '/m/046j25',
       '/m/0338zd', '/m/027lf0d', '/m/0152s7', '/m/03d19xz', '/m/0520604',
       '/m/04_tz7', '/m/01vsch', '/m/01d7kx', '/m/051wcch', '/m/09lz9zx',
       '/m/0738n4', '/m/0ffjvd', '/m/051x6yk', '/m/05sycg', '/m/0fp54b',
       '/m/027vy0s', '/m/0gf5k1', '/m/0dc58y8', '/m/07g8yp', '/m/0444sm4',
       '/m/0318mh', '/m/07hyjp', '/m/01c034', '/m/09fqz7', '/m/03ndvw',
       '/m/0b79c7', '/m/0665pp', '/m/03d26m9', '/m/04lhn7b', '/m/03h1dq9',
       '/m/0152wh', '/m/0cc5y74', '/m/0960kn', '/m/012f86', '/m/0h6mqq9',
       '/m/03wbmrc', '/m/0dqrh8', '/m/07n8wy', '/m/01267', '/m/01mw1s',
       '/m/02gx2x', '/m/03x_lpj', '/m/02rm7_9', '/m/04csgrq',
       '/m/05qb937', '/m/0xff', '/m/05vhv7', '/m/078ds', '/m/0dq1q',
       '/m/04wy6k', '/m/03vghh', '/m/065577s', '/m/0463n9y', '/m/0d32d1',
       '/m/0c41n', '/m/03ck8x1', '/m/09snp5', '/m/0fxmtg', '/m/02r11hz',
       '/m/0268xtg', '/m/026kx7g', '/m/09tqq8q', '/m/03kbr', '/m/05c60ml',
       '/m/05mtdy', '/m/064pj', '/m/026zlyd', '/m/08yg47', '/m/03x_fq7',
       '/m/06k6sl', '/m/0b8yvr', '/m/01tyl3', '/m/04sfz4s', '/m/02vkd28',
       '/m/0647lm', '/m/0bvnws', '/m/07lv5x', '/m/02r3wfk', '/m/02qv716',
       '/m/0h8mzsl', '/m/01nft3', '/m/031_sd', '/m/0ffhvl', '/m/07s49c2',
       '/m/03hf_6z', '/m/0d8qls', '/m/03fk0c', '/m/01crfj', '/m/0h1nk0k',
       '/m/01flqq', '/m/021pd', '/m/0bms44', '/m/07s9g04', '/m/03ty8_',
       '/m/02rdfpy', '/m/02vys3l', '/m/03fvrb', '/m/04pnf', '/m/0bvjpj',
       '/m/039z49', '/m/01_5cg', '/m/03q819', '/m/025xss1', '/m/0c29q8',
       '/m/013s41', '/m/03x1x', '/m/05cc9h', '/m/03m9my8', '/m/0165md',
       '/m/0g44f5', '/m/0gtwjz6', '/m/01hm_', '/m/03zcwh', '/m/04lgl9t',
       '/m/0g5k7qv', '/m/067lv3', '/m/0ftlzz', '/m/06y24j', '/m/02m0kh',
       '/m/01l0ty', '/m/03cmqbt', '/m/0g5rkt4', '/m/02dd5z', '/m/01gr8h',
       '/m/01vr3v', '/m/09g34_', '/m/09cd0m', '/m/03h11s3', '/m/05ms3p0',
       '/m/04lfc70', '/m/06dy2k', '/m/013z8m', '/m/0ftwg', '/m/0fk55',
       '/m/06bkf', '/m/0c_lbq', '/m/0301xt', '/m/01kb9y', '/m/042199j',
       '/m/03m3p6w', '/m/0br_9j', '/m/032m0b', '/m/05y2yj', '/m/01f9bg',
       '/m/04hqxn', '/m/068y7m', '/m/06w4lv', '/m/0ffk5n', '/m/03gy1h2',
       '/m/04wysy', '/m/04fh1b', '/m/01h4n', '/m/044bp_', '/m/0dtkkb',
       '/m/0fp4n', '/m/0166vx', '/m/047q05d', '/m/0c50f', '/m/01srl7',
       '/m/0fpxlz9', '/m/03lnnd', '/m/02pj9yr', '/m/04118b', '/m/0bdynxs',
       '/m/01gby2', '/m/0dn1_0', '/m/062szv5', '/m/062zk4r', '/m/043_z22',
       '/m/097r55', '/m/035b50', '/m/01hphz', '/m/033fjj', '/m/0b3zsn',
       '/m/04lhnps', '/m/08c25t', '/m/05sng', '/m/05bzpzx', '/m/064rb5l',
       '/m/01km_m', '/m/059v8', '/m/03b_13l', '/m/09c8kp', '/m/05ztd1',
       '/m/04c28', '/m/03sk2', '/m/04jtjvt', '/m/03hjx6f', '/m/027936c',
       '/m/03nvq', '/m/03nz70', '/m/01g3rx', '/m/02wz7j', '/m/04kdwcx',
       '/m/04_8lfc', '/m/033qt1', '/m/08j1fb', '/m/07wsyr', '/m/06vb7b',
       '/m/012fh', '/m/0dm3xpw', '/m/09r2kh', '/m/02ry8mk', '/m/029q52',
       '/m/026d074', '/m/013y54'], dtype=object)