# Cold war stuff

In [1]:
import pandas as pd
import seaborn as sns
import json
from utils import autoparse_year
import matplotlib.pyplot as plt

## Loading stuff

In [12]:
df_movies = pd.read_csv(
	'../data/raw/MovieSummaries/movie.metadata.tsv', sep='\t',
	# index_col='wiki_id',
	names=['wiki_id', 'freebase_id', 'movie_name', 'movie_release', 'movie_revenue', 'movie_runtime', 'movie_languages', 'movie_countries', 'movie_genres']
)
# unwrap the mappings
df_movies.movie_languages = df_movies.movie_languages.map(lambda x: list(json.loads(x).values()))
df_movies.movie_countries = df_movies.movie_countries.map(lambda x: list(json.loads(x).values()))
df_movies.movie_genres = df_movies.movie_genres.map(lambda x: list(json.loads(x).values()))
df_movies['movie_release_year'] = df_movies.movie_release.apply(autoparse_year).astype('Int64')
# TODO : convert dates to months also, where applicable

assert df_movies.index.is_unique
df_movies

,wiki_id,freebase_id,movie_name,movie_release,movie_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,movie_release_year
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",2001
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,[English Language],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]",2000
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,[Norwegian Language],[Norway],"[Crime Fiction, Drama]",1988
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,[English Language],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri...",1987
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,[German Language],[Germany],[Drama],1983
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,[English Language],[United States of America],[Drama],2011
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,[English Language],"[Ireland, United Kingdom]","[Biographical film, Drama, Documentary]",2011
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,[English Language],[United States of America],"[Satire, Comedy]",1972
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,[Japanese Language],[Japan],"[Science Fiction, Japanese Movies, Adventure, ...",1992
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,[English Language],[Canada],"[Thriller, Horror, Slasher, Teen]",2002

In [13]:
df_chars = pd.read_csv(
	'../data/raw/MovieSummaries/character.metadata.tsv', sep='\t',
	names=['wiki_id', 'freebase_id', 'release', 'character_name', 'actor_birth', 'actor_gender', 'actor_height', 'actor_ethnicity_id', 'actor_name', 'actor_age', 'freebar_charact_id', 'freebase_char_id', 'freebase_actor_id']
)
assert df_chars.index.is_unique
df_chars

,wiki_id,freebase_id,release,character_name,actor_birth,actor_gender,actor_height,actor_ethnicity_id,actor_name,actor_age,freebar_charact_id,freebase_char_id,freebase_actor_id
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [31]:
df_summary = pd.read_csv(
	'../data/raw/MovieSummaries/plot_summaries.txt',
	sep='\t',
	# index_col='wiki_id',
	names=['wiki_id', 'summary'],
	dtype={'summary': pd.StringDtype()}
)
assert df_summary.index.is_unique
df_summary

        wiki_id                                            summary
0      23890098  Shlykov, a hard-working taxi driver and Lyosha...
1      31186339  The nation of Panem consists of a wealthy Capi...
2      20663735  Poovalli Induchoodan  is sentenced for six yea...
3       2231378  The Lemon Drop Kid , a New York City swindler,...
4        595909  Seventh-day Adventist Church pastor Michael Ch...
...         ...                                                ...
42298  34808485  The story is about Reema , a young Muslim scho...
42299   1096473  In 1928 Hollywood, director Leo Andreyev  look...
42300  35102018  American Luthier focuses on Randy Parsons’ tra...
42301   8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42302   6040782  1940 - Operation Dynamo has just taken place. ...

[42303 rows x 2 columns]

In [59]:
df_ethnicity = pd.read_csv(
	'../data/raw/extra/ethnic_groups.csv',
	sep=',',
	names=['freebaseID', 'name'],
	skiprows=1
)
df_ethnicity.rename(columns={'freebaseID': 'freebase_id', 'name': 'ethnicity'}, inplace=True)
df_ethnicity

     freebase_id            ethnicity
0       /m/038cy     Germanic peoples
1     /m/03gq7tt           Hän people
2      /m/07fswd               Franks
3      /m/04mwbb        Bukharan Jews
4      /m/05nsbj             Kaingang
...          ...                  ...
5758  /m/0ch3m_8        East Frisians
5759  /m/025rxh8               Asante
5760   /m/0gw9t8        Mbundu people
5761   /m/06613z      Rohingya people
5762  /m/03mdj3l  Androscoggin people

[5763 rows x 2 columns]

## Build a cold war dataframe

In [60]:
df = df_movies.copy()

# Remove useless columns
# df.drop(columns=['movie_revenue'], inplace=True)

# Select only the interesting movies
df['is_west'] = df.movie_countries.map(lambda l: 'West Germany' in l)
df['is_east'] = df.movie_countries.map(lambda l: 'German Democratic Republic' in l or 'Soviet Union' in l)
df.drop(df[~(df.is_east | df.is_west)].index, inplace=True)
# df.reset_index(inplace=True, drop=True)

# Merge summaries
df = df.merge(df_summary, how='left', left_on='wiki_id', right_on='wiki_id')

# Merge ethnicities of actors

In [64]:
df

,wiki_id,freebase_id,movie_name,movie_release,movie_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,movie_release_year,is_west,is_east,summary
0,32456683,/m/0gyryjt,Die Fahne von Kriwoj Rog,1967,NaN,108.0,[German Language],[German Democratic Republic],[],1967,False,True,"Otto Brosowski, a communist miner, writes to t..."
1,31983669,/m/0g4_n3m,Road to Life,1931-09-30,NaN,104.0,[Russian Language],[Soviet Union],[Drama],1931,False,True,<NA>
2,31323091,/m/0gjd9q4,Emilia Galotti,1958,NaN,NaN,[German Language],[German Democratic Republic],[],1958,False,True,<NA>
3,31323885,/m/0gjd9qv,Soldat und Sportler,1959,NaN,NaN,[German Language],[German Democratic Republic],[Short Film],1959,False,True,<NA>
4,31322464,/m/0gj8s31,Youth Sports Festival,1951,NaN,NaN,[German Language],[German Democratic Republic],"[Sports, Documentary]",1951,False,True,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,31323051,/m/0gj8njb,Zwischen Himmel und Erde,1957,NaN,NaN,[German Language],[German Democratic Republic],"[Short Film, Documentary]",1957,False,True,<NA>
1521,31322451,/m/0gjdl51,Wilhelm Pieck - Das Leben unseres Präsidenten,1950,NaN,NaN,[German Language],[German Democratic Republic],[Documentary],1950,False,True,<NA>
1522,31323096,/m/0gjdgpf,Fiete im Netz,1958,NaN,NaN,[German Language],[German Democratic Republic],[],1958,False,True,<NA>
1523,31322664,/m/0gjdl5d,Wohnkultur,1955,NaN,NaN,[German Language],[German Democratic Republic],"[Short Film, Documentary]",1955,False,True,<NA>
1524,31170309,/m/0gh7dwg,Pestalozzi's Mountain,1989,NaN,112.0,[German Language],"[Switzerland, Italy, West Germany, German Demo...","[Biography, Drama, War film]",1989,True,True,<NA>

Verify if we are missing summaries

In [51]:
df.summary.isna().sum() / len(df)

0.6537704918032787

Verify classes are equilibrated

In [35]:
df.is_west.sum() / len(df)

0.4242622950819672

In [36]:
df.is_east.sum() / len(df)

0.5770491803278689